/* app css stylesheet */

#wrapper {
  padding: 40px;
}

li.logo, li.logo a {
  color: #5A4817;  
  font-weight: bold;
}

.pure-menu {
  position:fixed;

  z-index: 9999;

}
.vimeo-item {
  padding: 10px;
}

body {
  background-color: #917F4F;
}

